@charset "UT-8";
html{
    height: 100vw;
    width: 100vw;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: helvetica;
    background-image: linear-gradient(to left, #01064d, #fa6400);
    height: 100vw;
    width: 100vw;
    color: white;
    text-align: center;
    padding-top: 40px;
}
#tarefas-container{
    width: 350px;
    margin: auto;
}
#tarefas-header{
 margin-top: 40px;
}
#add-tarefas-form{
    position: relative;
}
#add-tarefas-form input{
    box-sizing: border-box;
    border: 2px solid #01064dda;
    background-color: white;
    color: #01064d;
    padding: 15px;
    font-size: 1.2em;
    width: 100%;
    border-radius: 10px;
}
#add-tarefas-form input::placeholder{
    color: #01064d;
}
#add-button{
    position: absolute;
    background-color: white;
    border: 2px solid #01064dda;
    cursor: pointer;
    width: 60px;
    height: 56px;
    top: 0;
    right: 0;
    border-radius: 0px 10px 10px 0px;
}
#add-button:hover{
    background-color: rgb(86, 0, 107);
    border: 2px solid rgb(86, 0, 107);
    color:white;
}
ion-icon{
    font-size: 2.5em;
}

#tarefas-lista{
    list-style: none;
    padding-left: 0;
}
#tarefas-lista li{
    text-align: left;
    height: 50px;
    line-height: 50px;
    position: relative;
    border-bottom: 2px solid #01064d;
    background-color: white;
    color: #01064d;
    margin-bottom: 10px;
    padding-left: 10px;
    transition: .5s;
    border-radius: 10px;
    font-size: 1.2em;
}
#tarefas-lista ion-icon{
    position: absolute;
    top: 0;
    height: 40px;
    transition: .3s;
    cursor: pointer;
    width: 30px;
    padding: 5px;
}
.feito-button{
    right: 40px
}
.feito-button:hover{
    color: rgb(0, 252, 21);
    background-color: rgb(235, 235, 235);
    
}
.remover-button{
    right: 0;
}
.remover-button:hover{
    color: red;
    background-color: rgb(214, 214, 214);
}
.hide{
    display: none;
}
#tarefas-lista li.done{
    background-color: #01064db9;
    color: white;
    text-decoration: line-through;
    font-size: 1.2em;
    font-weight: lighter;
}
footer{
    display: block;
    text-align: center;
    font-style: italic;
    color: white;
    margin-top: 50px;
}